body, html {
  font-family: 'Raleway', sans-serif;
  margin:0; padding:0;
  min-height: 100%;
}
video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
    margin:0; 
    padding:0;
    display:none;
}
nav {
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    min-width: 480px;
}

p.foveal {
    padding:150px 50px 150px 50px; 
    text-align:center;
    font-size:40pt; 
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
}

.material-icons {
    color:white;
    font-size: 100px;
    position:fixed;
    top:0;
    margin: 1%;
    cursor: pointer;
}

details {
    top:0;
    position: fixed;
    font-size: 30px;
    color:black;
    outline: none;
}

details[open] {
    width:100%;
    display: block;
    color:black;
    background-color: rgba(255, 255, 255, 0.9);
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  background: url(./circleFilledBlack.svg);
  background-size: 80px 80px;
  background-repeat: no-repeat;
  float: left; 
  height: 80px;
  width: 80px;
  content: " ";
}

details[open] summary:after {
  background: url(./circleOutlineWhite.svg);
  background-size: 80px 80px;
  background-repeat: no-repeat;
  height: 100vh;
}

details[open] summary {
    background-color: black;
    color:white;
    box-shadow: 0 0 30px rgb(111, 111, 111);
}

summary {
    line-height: 80px;
}

summary:focus { outline:0; }
summary:hover { cursor:pointer; }

main {
    padding-left:3%;
    padding-right:3%;
    overflow: auto;
    height: 90vh;
}

h4 {
    text-align: center;
}

@media only screen and (min-width: 1000px) {
   video {
    display:inline-block;
  }
}

@media screen and (min-width: 480px) {
  body {
    background: url(./northbar.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
  }
}

